# Build Trigger: v2.6.0-global-sync-final
fastapi
uvicorn[standard]
pandas
google-generativeai
python-multipart
requests
beautifulsoup4
yfinance
plotly
python-dotenv
aiohttp
aiofiles
pydantic
pydantic-settings
apscheduler
pyupbit
pytz
GoogleNews
deep-translator
