# Build Trigger: v3.6.17-NUCLEAR-STABLE
fastapi
uvicorn[standard]
pandas
google-generativeai
python-multipart
requests
beautifulsoup4
yfinance
plotly
python-dotenv
aiohttp
aiofiles
pydantic
pydantic-settings
apscheduler
pyupbit
pytz
GoogleNews
deep-translator
pycryptodome
firebase-admin
scipy
# [Nuclear-Fix] Selenium/Webdriver removed from main requirements to ensure fast build
# selenium
# webdriver-manager
