# Build Trigger: v2.6.5-global-sync-hotfix
fastapi
uvicorn[standard]
pandas
google-generativeai
python-multipart
requests
beautifulsoup4
yfinance
plotly
python-dotenv
aiohttp
aiofiles
pydantic
pydantic-settings
apscheduler
pyupbit
pytz
GoogleNews
deep-translator
pycryptodome
firebase-admin
scipy
selenium
webdriver-manager
